<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>List of authors</h1>
    Date: {{ today }} <br>
    <li><a href="/author_add/">Add author</a></li>
    <Ul>
        {% for author in object_list %}
        <li><a href="/author/{{ author.pk }}/">{{ author.name }}</a> <a href="/author_edit/{{ author.pk }}/">(EDIT)</a> <a href="/author_delete/{{ author.pk }}/">(DELETE)</a></li>
        {% endfor%}
    </Ul>
</body>
</html>
