{% extends 'base.html' %}

{% block title %} List of authors {% endblock title %}

{% block header %}<p class="text-center"> List of authors </p>{% endblock header %}

{% block body %}

<table class="table table-primary">
    <thead>
        <tr>
            {% if user.is_authenticated %}
            <th scope="col">pk</th>
            {% endif %}
            <th scope="col">Name</th>
            <th scope="col">Biography</th>
            {% if user.is_authenticated %}
            <th scope="col">actions</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for author in object_list %}
        <tr>
            {% if user.is_authenticated %}
            <td>{{ author.pk }}</td>
            {% endif %}
            <td>{{ author.name }}</td>
            <td><a href="{% url 'cat:author-det' author.pk %}"><i class="bi bi-eye"></i></a></td>
            {% if user.is_authenticated %}
            <td><a href="{% url 'cat:author-edit' author.pk %}"><i class="bi bi-pencil-square"></i></a><a href="{% url 'cat:author-del' author.pk %}"><i class="bi bi-trash"></i></a></td>
            {% endif %}
        </tr>
        {% endfor%}
    </tbody>
</table>
{% if user.is_authenticated %}
<li><a class="btn btn-primary" href="{% url 'cat:author-add' %}" role="button">Add a author</a></li>
{% endif %}
{% endblock body %}
