{% extends 'base.html' %}

{% block title %} List of genres {% endblock title %}

{% block header %} List of genres {% endblock header %}

{% block body %}
Date: {{ today }} <br>

<table border='1'>
    <tr><td>name a genre</td><td>description a genre</td><td> edit a genre </td><td>delete a genre</td></tr>
    {% for genre in object_list %}
        <tr><td>{{ genre.name }}</td><td><a href="{% url 'cat:genre-det' genre.pk %}"> description </a></td><td><a href="{% url 'cat:genre-edit' genre.pk %}">edit</a></td><td><a href="{% url 'cat:genre-del' genre.pk %}">delete</a></td></tr>
    {% endfor%}
</table><br>
<li><a href="{% url 'cat:genre-add' %}">Add a genre</a></li>


{% endblock body %}
