<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>List of genres</h1>
    Date: {{ today }} <br>
    <li><a href="/genre_add/">Add genre</a></li>
    <Ul>
        {% for genre in object_list %}
        <li><a href="/genre/{{ genre.pk }}/">{{ genre.name }}</a> <a href="/genre_edit/{{ genre.pk }}/">(EDIT)</a></li>
        {% endfor%}
    </Ul>
</body>
</html>
