<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>List of publishing house</h1>
    Date: {{ today }} <br>
    <li><a href="/publishinghouse_add/">Add publishing house</a></li>
    <Ul>
        {% for publishinghouse in object_list %}
        <li><a href="/publishinghouse/{{ publishinghouse.pk }}/">{{ publishinghouse.name }}</a> <a href="/publishinghouse_edit/{{ publishinghouse.pk }}/">(EDIT)</a> <a href="/publishinghouse_delete/{{ publishinghouse.pk }}/">(DELETE)</a></li>
        {% endfor%}
    </Ul>
</body>
</html>
