{% extends 'base.html' %}

{% block title %} List of publishing house {% endblock title %}

{% block header %} List of publishing house {% endblock header %}

{% block body %}


<table class="table table-primary">
    <thead>
        <tr>
            {% if user.is_authenticated %}
            <th scope="col">pk</th>
            {% endif %}
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            {% if user.is_authenticated %}
            <th scope="col">actions</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for publishinghouse in object_list %}
        <tr>
            {% if user.is_authenticated %}
            <td>{{ publishinghouse.pk }}</td>
            {% endif %}
            <td>{{ publishinghouse.name }}</td>
            <td><a href="{% url 'cat:publishinghouse-det' publishinghouse.pk %}"><i class="bi bi-eye"></i></a></td>
            {% if user.is_authenticated %}
            <td><a href="{% url 'cat:publishinghouse-edit' publishinghouse.pk %}"><i class="bi bi-pencil-square"></i></a><a href="{% url 'cat:publishinghouse-del' publishinghouse.pk %}"><i class="bi bi-trash"></i></a></td>
            {% endif %}
        </tr>
        {% endfor%}
    </tbody>
</table>
{% if user.is_authenticated %}
<li><a class="btn btn-primary" href="{% url 'cat:publishinghouse-add' %}" role="button">Add a publishing house</a></li>
{% endif %}
{% endblock body %}
