{% extends 'base.html' %}

{% block title %} List of publishing house {% endblock title %}

{% block header %} List of publishing house {% endblock header %}

{% block body %}
Date: {{ today }} <br>

<table border='1'>
    <tr><td>name a publishing house</td><td>description a publishing house</td><td> edit a publishing house</td><td>delete a publishing house</td></tr>
    {% for publishinghouse in object_list %}
        <tr><td>{{ publishinghouse.name }}</td><td><a href="{% url 'cat:publishinghouse-det' publishinghouse.pk %}"> description </a></td><td><a href="{% url 'cat:publishinghouse-edit' publishinghouse.pk %}">edit</a></td><td><a href="{% url 'cat:publishinghouse-del' publishinghouse.pk %}">delete</a></td></tr>
    {% endfor%}
</table><br>
<li><a href="{% url 'cat:publishinghouse-add' %}">Add a publishing house</a></li>


{% endblock body %}
