{% extends 'base.html' %}

{% block title %} List of series {% endblock title %}

{% block header %} List of series {% endblock header %}

{% block body %}
Date: {{ today }} <br>

<table border='1'>
    <tr><td>name a series</td><td>description a series</td><td> edit a series</td><td>delete a series</td></tr>
    {% for series in object_list %}
        <tr><td>{{ series.name }}</td><td><a href="{% url 'cat:series-det' series.pk %}"> description </a></td><td><a href="{% url 'cat:series-edit' series.pk %}">edit</a></td><td><a href="{% url 'cat:series-del' series.pk %}">delete</a></td></tr>
    {% endfor%}
</table><br>
<li><a href="{% url 'cat:series-add' %}">Add a series</a></li>


{% endblock body %}
