<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>List of series</h1>
    Date: {{ today }} <br>
    <li><a href="/series_add/">Add series</a></li>
    <Ul>
        {% for series in object_list %}
        <li><a href="/series/{{ series.pk }}/">{{ series.name }}</a> <a href="/series_edit/{{ series.pk }}/">(EDIT)</a> <a href="/series_delete/{{ series.pk }}/">(DELETE)</a></li>
        {% endfor%}
    </Ul>
</body>
</html>
