{% extends 'base.html' %}

{% block title %} Bukvaeshka {% endblock title %}

{% block header %} Welcome to our online bookstore 'Bukvaeshka'{% endblock header %}

{% block body %}
    It is {% now "jS F Y H:i" %}<br>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% if user.is_superuser %}
    <h2> Super secret </h2>
    {% endif %}

    <h1> Our news </h1>

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner" style="width: 10rem;">
            {% for book in book_list %}
            <div class="carousel-item  {% if forloop.counter == 1 %}active {% endif %} ">
            <img src="{{ book.image.url}}" class="d-block w-100" alt="...">
          </div>
            {% endfor %}
        </div>
    </div>




</form>
{% endblock body %}
