{% extends 'base.html' %}

{% block title %} Bukvaeshka {% endblock title %}

{% block header %}<p class="text-center"> Welcome to our online bookstore 'Bukvaeshka' </p> {% endblock header %}

{% block body %}

    <h1><p class="text-center"> New books are already in stock </p></h1>
    <div class="col-lg-10 d-flex justify-content-center">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" style="width: 10rem;">
                {% for book in book_list %}
                <div class="carousel-item  {% if forloop.counter == 1 %}active {% endif %} ">
                <img src="{{ book.image.url}}" class="d-block w-100" alt="...">
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
<br><br><br><br>
<br>It is {% now "jS F Y H:i" %}

{% endblock body %}
