{% extends 'base.html' %}

{% block title %} Order list {% endblock title %}

{% block header %} Order list {% endblock header %}

{% block body %}
<form action="{% url 'orders:update-cart' %}" method="get">
<table class="table">
    <tr>
        <td>Name</td>
        <td>Quantity</td>
        <td>Price</td>
        <td>Delete</td>
    </tr>
    {% for item in cart.goods.all %}
    <tr>
        <td>{{ item.book.name }}</td>
        <td><input type="number" name="good_{{item.pk}}" id="" value="{{ item.quantity }}" min="0" step="1"></td>
        <td>{{ item.price }}</td>
        <td><a href="{% url 'orders:delete-from-cart' item.pk %}" class="bi bi-trash"></a></td>
    </tr>
    {%endfor%}
    <tr>
        <td colspan="2">Total price</td>
        <td>{{ cart.total_price }}</td>
    </tr>
</table>
<input type="submit" name="action_type" value="Update" class="btn btn-success">
<br><br>
<h4>Please fill in the delivery details:</h4><br>
<h6> Your name and surname </h6>
<input type="text" class="form-control me-2" placeholder="Name and surname" name="name_and_surname" id=""><br>
<h6> Your phone number </h6>
<input type="tel" class="form-control me-2" placeholder="Phone number" name="phone" id=""><br>
<h6> Your address </h6>
<input type="text" class="form-control me-2" placeholder="Address" name="delivery_address" id=""><br>
<h6> Additional information </h6>
<input type="text" class="form-control me-2" placeholder="Comment" name="additional_information" id=""><br>
<input type="submit" name="action_type" value="Order" class="btn btn-warning">
</form>
{% endblock body %}
