{% extends 'base.html' %}

{% block title %} Order: {{ object.name }} {% endblock title %}

{% block header %} Order:  {{ object.name }} {% endblock header %}

{% block body %}

    <b>Name and surname customer:</b> {{ object.name_and_surname }}<br>
    <b>Phone:</b> {{ object.phone }} <br>
    <b>Delivery address:</b> {{ object.delivery_address }} <br>
    <b>Additional information:</b> {{ object.additional_information }} <br>
    <b>Books:</b>
    <li class="list-group-item"> {% for book in object.cart.goods.all %} {{book.book.name}} - {{book.quantity}} pc.<br> {%endfor%} </li><br>
    <b>Status:</b> {{ object.status.name}} <br>


{% endblock body %}
