{% extends 'base.html' %}

{% block title %} List of books {% endblock title %}

{% block header %} Our books {% endblock header %}

{% block body %}

<p>
    <div class="container text-center">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            {% for book in object_list %}
            <div class="col">
                <div class="card" style="width: 15rem;">
                    <img src="{{ book.image.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ book.name }} </h5>
                        <p class="card-text">{{ book.price }} Byn</p>
                        <form action="{% url 'orders:add-to-cart' %}" method="get">
                            <div class="form-group row">
                                <input type="hidden" name="book_id" value="{{ book.pk }}">
                                <div class="col-sm-2">
                                <a href="{% url 'card:book-det' book.pk %}"><i class="bi bi-eye-fill"></i></a>
                                </div>
                                <div class="col-sm-6">
                                    <input type="submit" class="btn btn-primary" value="Add to Cart">
                                </div>
                                <div class="col-sm-4">
                                    <input type="number" class="form-control" name="quantity" min="1" max="1000" step="1" value="1">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</p>


{% if user.is_authenticated %}
<table class="table table-primary">
    <thead>
        <tr>
            <th scope="col">pk</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for book in object_list %}
        <tr>
            <td>{{ book.pk }}</td>
            <td>{{ book.name }}</td>
            <td><a href="{% url 'card:book-det' book.pk %}"><i class="bi bi-eye"></i></a></td>
            <td><a href="{% url 'card:book-edit' book.pk %}"><i class="bi bi-pencil-square"></i></a><a href="{% url 'card:book-del' book.pk %}"><i class="bi bi-trash"></i></a></td>
        </tr>
        {% endfor%}
    </tbody>
</table>
    <li><a class="btn btn-primary" href="{% url 'card:book-add' %}" role="button">Add a book</a></li>
{% endif %}

{% endblock body %}
